<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89866803360-tt0e5rlluj3h2828uadt38krcgajov72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89866803360-tt0e5rlluj3h2828uadt38krcgajov72</string>
	<key>API_KEY</key>
	<string>AIzaSyCRXaAFbN_TieAzLWsqvCyL_QwfWGXJSi8</string>
	<key>GCM_SENDER_ID</key>
	<string>89866803360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oneChatgptFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>onechatgdp</string>
	<key>STORAGE_BUCKET</key>
	<string>onechatgdp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89866803360:ios:66e825cab9971c35a1d1c5</string>
</dict>
</plist>